/**app.wxss**/
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
} 
/* 全局去掉页面默认边距 */
page {
  margin: 0;
  padding: 0;
}